.page-header
  = link_to 'New Scaffold Model', new_admin_scaffold_model_path, :class => 'btn pull-right'
  %h2= 'Scaffold Models'

= paginate @scaffold_models

%table.table.table-hover.table-bordered
  %tr
    %th.main Name
    %th
  - @scaffold_models.each do |scaffold_model|
    %tr
      %td.main= scaffold_model.name
      %td
        .btn-group
          = link_to 'Edit', edit_admin_scaffold_model_path(scaffold_model), :class => 'btn btn-small'
          = link_to 'Delete', admin_scaffold_model_path(scaffold_model), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-small btn-danger'

= paginate @scaffold_models